@model PasswordResetModel
@{
    Layout = "_AccountLayout";

    string act = "";
    if (ViewData["Code"] != null)
    {
        act = (string)ViewData["Code"];
        if (string.IsNullOrEmpty(act))
        {
            if (Model != null && !string.IsNullOrEmpty(Model.Code))
            {
                act = Model.Code;
            }
        }
    }
}

<style>
    .field-validation-error, .validation-summary-errors {
        color: red;
        font-size: 12px;
    }

    .input-validation-error {
        border-color: red;
        font-size: 12px;
    }
</style>
<div class="container login-register">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div data-appear-animation="bounceInDown">
                <div class="rotation">
                    <div class="front-end">
                        <div class="form-content">

                            <partial name="~/Views/Shared/_AlertPartialRedirect.cshtml" />
                            <partial name="~/Views/Shared/_ErrorPartial.cshtml" />

                            <form asp-controller="Account" asp-action="ResetPassword" asp-antiforgery="true" method="post" class="form-box login-form" enctype="multipart/form-data" role="form">

                                <h3 class="title">
                                    @Lang.NewPasswordPanelTitle
                                </h3>
                                <div class="form-group">
                                    <label>@Lang.NewPasswordText: <span class="required">*</span></label>
                                    <input asp-for="Password" class="form-control" type="password" style="margin-bottom: 0px;" />
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="form-group">
                                    <label>@Lang.ConfirmPasswordText: <span class="required">*</span></label>
                                    <input asp-for="ConfirmPassword" class="form-control" type="password" style="margin-bottom: 0px;" />
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>

                                <input asp-for="Code" type="hidden" value="@act" />

                                <div class="buttons-box clearfix">
                                    <button class="btn btn-default">@Lang.SubmitText</button>
                                    <span class="required"><b>*</b> @Lang.RequiredField</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>