@model  Service

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon icon-red icon-plus"></i>Edit Service</h2>
        </div>
        <div class="box-content">
            @using (Html.BeginForm("Edit", "Services", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CreateDate)
                @Html.HiddenFor(model => model.IsDeleted)
                @Html.HiddenFor(model => model.ImageName)
                @Html.HiddenFor(model => model.NameTR)
                @Html.HiddenFor(model => model.DescriptionTR)

                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Name </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Name, new { @style = "width: 80%;" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Description </label>
                        <div class="controls">
                            @Html.TextAreaFor(model => model.Description, new { @class = "cleditor" })
                        </div>
                    </div>
                    @*<div class="control-group">
                            <label class="control-label" for="focusedInput">TabTitle</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.TabTitle, new { @style = "width: 80%;" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Name (EN)</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.NameEN, new { @style = "width: 80%;" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Description (EN)</label>
                            <div class="controls">
                                @Html.TextAreaFor(model => model.DescriptionEN, new { @class = "cleditor" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">TabTitle (EN)</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.TabTitleEN, new { @style = "width: 80%;" })
                            </div>
                        </div>*@
                    @*<div class="control-group">
                            <label class="control-label" for="focusedInput">Name (TR)</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.NameTR, new { @style = "width: 80%;" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Description (TR)</label>
                            <div class="controls">
                                @Html.TextAreaFor(model => model.DescriptionTR, new { @class = "cleditor" })
                            </div>
                        </div>*@
                    @*<div class="control-group">
                            <label class="control-label" for="focusedInput">Name (RU)</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.NameRU, new { @style = "width: 80%;" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Description (RU)</label>
                            <div class="controls">
                                @Html.TextAreaFor(model => model.DescriptionRU, new { @class = "cleditor" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">TabTitle (RU)</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.TabTitleRU, new { @style = "width: 80%;" })
                            </div>
                        </div>*@
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a class="btn" href="@Url.Action("List", "Services")">Cancel</a>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>

