@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var actionName = this.ViewContext.RouteData.Values["action"].ToString();
    bool promo = (actionName.ToLower() == "start" || actionName.ToLower() == "register" || actionName.ToLower() == "login" || actionName.ToLower() == "reset") ? true : false;
}
<!doctype html>
<html class="full-height">
<head>
    <title>Burada title olacaq</title>
    <meta http-equiv="x-ua-compatible" content="IE=EmulateIE9">
    <meta http-equiv="x-ua-compatible" content="IE=EmulateIE8">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="@Configuration.GetSection("Site")["Seokeyword"]" />
    <meta name="description" content="@Configuration.GetSection("Site")["Description"]" />
    <meta name="author" content="Softegral.com" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- Font -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic'>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/jslider.css">
    <link rel="stylesheet" href="/css/revslider/settings.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.css">
    <link rel="stylesheet" href="/css/animate.css">
    @*<link rel="stylesheet" href="/css/video-js.min.css">*@
    <link rel="stylesheet" href="/css/morris.css">
    <link rel="stylesheet" href="/css/royalslider/royalslider.css">
    <link rel="stylesheet" href="/css/royalslider/skins/minimal-white/rs-minimal-white.css">
    <link rel="stylesheet" href="/css/layerslider/css/layerslider.css">
    <link rel="stylesheet" href="/css/ladda.min.css">
    <link rel="stylesheet" href="/css/datepicker.css">
    <link rel="stylesheet" href="/css/jquery.scrollbar.css">
    <link rel="stylesheet" href="/css/tel/intlTelInput.css">
    <link rel="stylesheet" href="/css/tel/demo.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/customizer/pages.css">
    <!-- IE Styles-->
    <link rel='stylesheet' href="/css/ie/ie.css">

    <!--[if lt IE 9]>
      <script src="/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <link rel='stylesheet' href="/css/ie/ie8.css">
    <![endif]-->

</head>
@*@if (actionName == "Start")
    {
        @Html.Raw(@WebUtility.HtmlDecode("<body class=\"page-login-promo blur-page\" data-blur-image=\"~/img/bg-login.jpg\" data-blur-amount=\"1\">")
    }
    else
    {
        @Html.Raw("<body class=\"fixed-header\">")
    }*@
<body class="details @(promo ? "details page-login-promo blur-page loaded blur-load" : "fixed-header")" data-blur-image="@(promo ? "/img/bg-login.jpg" : "")"
      data-blur-amount="@(@actionName == "Start" ? "1" : "")">
    <div class="page-box">
        <header class="header header-three" style="@(@actionName == "Start" ? "" : "background:none; min-height: initial;")">
            <div class="header-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="logo-box col-sm-12 col-md-12">
                            <div class="logo">
                                <a href="@Url.Action("Index", "Home")">
                                    <img src="~/img/logo.jpeg" class="logo-img" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="main">

            <div class="clearfix"></div>

            @RenderBody()

        </section>
    </div>

    <!--[if (!IE)|(gt IE 8)]><!-->
    <script src="/js/jquery-3.0.0.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8]>
      <script src="/js/jquery-1.9.1.min.js"></script>
    <![endif]-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/price-regulator/jshashtable-2.1_src.js"></script>
    <script src="/js/price-regulator/jquery.numberformatter-1.2.3.js"></script>
    <script src="/js/price-regulator/tmpl.js"></script>
    <script src="/js/price-regulator/jquery.dependClass-0.1.js"></script>
    <script src="/js/price-regulator/draggable-0.1.js"></script>
    <script src="/js/price-regulator/jquery.slider.js"></script>
    <script src="/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="/js/jquery.touchwipe.min.js"></script>
    <script src="/js/jquery.elevateZoom-3.0.8.min.js"></script>
    <script src="/js/jquery.imagesloaded.min.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/jquery.sparkline.min.js"></script>
    <script src="/js/jquery.easypiechart.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/jquery.fancybox.pack.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/jquery.knob.js"></script>
    <script src="/js/jquery.selectBox.min.js"></script>
    <script src="/js/jquery.royalslider.min.js"></script>
    <script src="/js/jquery.tubular.1.0.js"></script>
    <script src="/js/SmoothScroll.js"></script>
    <script src="/js/country.js"></script>
    <script src="/js/spin.min.js"></script>
    <script src="/js/ladda.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/morris.min.js"></script>
    <script src="/js/raphael.min.js"></script>
    <script src="/js/video.js"></script>
    <script src="/js/pixastic.custom.js"></script>
    <script src="/js/livicons-1.4.min.js"></script>
    <script src="/js/layerslider/greensock.js"></script>
    <script src="/js/layerslider/layerslider.transitions.js"></script>
    <script src="/js/layerslider/layerslider.kreaturamedia.jquery.js"></script>
    <script src="/js/revolution/jquery.themepunch.tools.min.js"></script>
    <script src="/js/revolution/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
        (Load Extensions only on Local File Systems !
        The following part can be removed on Server for On Demand Loading) -->
    <script src="/js/revolution/extensions/revolution.extension.actions.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.migration.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/js/revolution/extensions/revolution.extension.video.min.js"></script>
    @*<script src="/js/bootstrapValidator.min.js"></script>*@
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/jplayer/jquery.jplayer.min.js"></script>
    <script src="/js/jplayer/jplayer.playlist.min.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/tel/intlTelInput.js"></script>
    <script src="/js/main.js"></script>

    <script>

        //Jeyhun added
        //jQuery.event.special.touchstart =
        //    {
        //        setup: function (_, ns, handle) {
        //            if (ns.includes("noPreventDefault")) {
        //                this.addEventListener("touchstart", handle, { passive: false });
        //            }
        //            else {
        //                this.addEventListener("touchstart", handle, { passive: true });
        //            }
        //        }
        //    };

        //$(function () {
        //    $("#CategoryPanel").hide();
        //    $("#radioButtons input:radio[name=Role]").click(function () {
        //        var myindex = $("#radioButtons input:radio[name=select]").index(this);
        //        var lastone = $("#radioButtons input:radio[name=select]:last").index("#radioButtons input:radio[name=select]");
        //        if (myindex == lastone) {
        //            $("#CategoryPanel").show();
        //        }
        //        else {
        //            $("#CategoryPanel").hide();
        //        };
        //    });
        //});

        //function setVisible(id, visible) {
        //    var o = document.getElementById(id);
        //    if (typeof (o) != 'undefined') o.style.visibility = visible ? 'visible' : 'hidden';
        //    if (typeof (o) == 'undefined') alert("Element with id '" + id + "' not found.");
        //}

        function setDisplay(id, visible) {
            var o = document.getElementById(id);
            if (typeof (o) != 'undefined') o.style.display = visible ? 'block' : 'none';
        }

        function switchToSignUp() {
            var act = $('input[name=pageName]').val()

            if (act == "register") {
                $("#switchToSignUpPanel").click();
            }
            else
                if (act == "reset") {
                    $("#forgetPasswordButton").click();
                }
        }

        function detectRole() {
            var rd = $('input#roleDetector').val();

            if (rd == "i") {
                $('input:radio[name=Rolename]:nth(1)').attr('checked', true);
                $('input:radio[name=Rolename]:nth(1)').closest('.new-radio').removeClass('new-radio').addClass('new-radio checked');

                $("#CategoryPanel").show();
                setDisplay('CategoryPanel', true);
            }
            else {

                $('input:radio[name=Rolename]:nth(0)').attr('checked', true);
                $('input:radio[name=Rolename]:nth(0)').closest('.new-radio').removeClass('new-radio').addClass('new-radio checked');

                $("#CategoryPanel").hide();
                setDisplay('CategoryPanel', false);
            }
        }

        $(function () {
            switchToSignUp();
            detectRole();
        });
    </script>

    <script>

        $(window).on('load', function () {
            //var input = document.querySelector('#Mobile');
            //var myip = 'a';

            //alert("vvv");

            //gett();

            //getIPValue(myip);

            //alert(getJSON());

            //$.getJSON("http://jsonip.com?callback=?", function (data) {
            //    //myip = data.ip.toString();
            //    alert(data.ip);
            //});

            //$.getJSON("https://api.ipify.org?format=json", function (data) {
            //    //$("#gfg").html(data.ip);
            //    myip = data.ip.toString();
            //    //alert(data.ip);
            //})

            //intlTelInput(input, {
            //    nationalMode: false,
            //    utilsScript: '//cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.5.2/js/utils.js'
            //});


            //alert(url);
            //window.url = 'http://api.ipstack.com/' + ip + '?access_key=bb76a8cf4c0d82e0914bfb69d65ae594&format=1';

            window.intlTelInput(input, {
                initialCountry: "auto",
                geoIpLookup: function (callback) {
                    $.get(url, function () { }, "jsonp").always(function (resp) {
                        var countryCode = (resp && resp.country_code) ? resp.country_code : "";
                        alert(countryCode);
                        callback(countryCode);
                    });
                },
                //utilsScript: "../../build/js/utils.js?1549804213570" // just for formatting/placeholders etc
                utilsScript: '//cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.5.2/js/utils.js'
            });
        });

                //$(function () {
                //    $(document).ready(function () {

                //        getIP(function (value) { alert('Do something with ' + value + ' here!') });

                //    });
                //});

                //function GetIP() {

                //    var myip = "";

                //    //$(function () {
                //    alert("GetIP");

                //    $.getJSON("https://api.ipify.org?format=json", function (data) {
                //        alert("GetIP2");
                //        myip = data.ip;
                //    });

                //    return myip;
                //}

    </script>
</body>
</html>